.root{
    width:100%;
    height:100%;
}
.tab{
    border:solid;
    border-color:red;
    float:left;
    padding-left:5%;
    padding-right:5%;
    padding-top:3%;
    padding-bottom:3%;
    width:90%;
    height:90%;
}
.menu{
    font-size:250%;
    width:100%;
    height:80%;
    border:solid;
    padding-top:10%;
    text-align:center;
}
.menu_option{
    margin-top:3%;
    cursor:pointer;
}
.left{
    width:60%;
    height:90%;
    border:solid;
    float:left;
    overflow-y:scroll;
}
.right{
    width:35%;
    height:90%;
    border:solid;
    border-color:blue;
    float:left;
}
.side{
    width:90%;
    margin:0.5em;
    margin-left:1.5em;
    height:35%;
    border:solid;
    border-color:blue;
    float:left;
}
.panel{
    width:80%;
    margin-left:1.5em;
}
.top{
    margin-bottom:8em;
}
.slotimage{
    width:100%;
    height:100%;
}
.slot{
    position:relative;
    z-index:1;
    width:15%;
    height:80%;
    margin:1em;
    margin:1em;
    border:solid;
    border-color:yellow;
    float:left;
}
.card_div{
    width:100%;
    height:100%;
    float:left;
    border:solid;
}
.card{
    width:100%;
    height:100%;
    border:solid;
    border-color:red;
}
.overlay{
    position:absolute;
    border:solid;
    z-index:2;
    color:white;
}
.dead{
    background-color:red;
    opacity:0.5;
}
.management{
    height:49%;
    border:solid;
    overflow-y:scroll;
}
.unit_inventory{
    float:left;
    height:100%;
    width:70%;
    border:solid;
}
.player_inventory{
    float:left;
    width:28%;
    height:100%;
    border:solid;
    overflow-y:scroll;
}
.unit_left{
    width:40%;
    height:90%;
    border:solid;
    float:left;
    overflow-y:scroll;
}
.unit_right{
    width:55%;
    height:90%;
    border:solid;
    border-color:blue;
    float:left;
}
.slot_panel{
    position:relative;
    z-index:1;
    width:15%;
    height:40%;
    margin:1em;
    margin:1em;
    border:solid;
    border-color:yellow;
    float:left;
}
.maps_img{
    width:40%;
    heigh:30%;
    margin:15px;
}
.maps_overlay{
    width:10%;
    height:10%;
    margin: 5%;
    font-size:200%;
    position:absolute;
    z-index:2;
    color:white;
}
