body{
    background-color:black;    
    font-family: 'Amiri', serif;
}
select{
    font-family: 'Amiri', serif;
}
textarea{
    font-family: 'Amiri', serif;
} 
img{
    border-radius:2px;
}
.root{
    width:100%;
    height:100%;
}
.tab{
    background-color:white;
    float:left;
    padding-left:5%;
    padding-right:5%;
    padding-top:2%;
    padding-bottom:2%;
    width:90%;
    height:90%;
}
.menu{
    color:white;
    font-size:250%;
    width:100%;
    height:80%;
    border:solid;
    padding-top:10%;
    text-align:center;
}
.menu_option{
    margin-top:3%;
    cursor:pointer;
}
.left{
    font-size:110%;
    width:60%;
    height:100%;
    border:solid;
    border-radius:5px;
    float:left;
}
.right{
    width:35%;
    height:100%;
    border:solid;
    border-radius:5px;
    border-color:black;
    float:left;
}

/*IDLER*/
.idler_panel{
    display: flex;
    width: 100%;
    height: 100%;
    background:rgba(158, 156, 152,0.9);
    font-size:150%;
    border:solid;
    border-radius:5px;
    border-color:black;
}
.idler_game_div{
    flex:6;
    display: inline-flex;
    border: solid;
    border-radius: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
}
.idler_menu_div{
    border-radius: 5px;
    flex:1;
    border: solid;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.idler_menu_option{
    width: 80%;
    height: 15%;
    text-align: center;
    margin: 8px;
    font-size: 125%;
    border: solid;
}
.idler_struct_div{
    position: relative;
    width: 35%;
    height: 90%;
    margin: 5px;
    border: solid;
}
.idler_map_div{
    overflow-y:scroll;
    overflow-x:hidden;
    position: relative;
    width: 65%;
    height: 95%;
    margin: 5px;
    border: solid;
}
.idler_map_unit_img{
    position: relative;
    display: inline;
    width:55;
    height: 100%;
    /*margin-left: 2px;*/
    border-width: 2px;
    border-left: solid;
    border-right: solid;
}
.idler_unit_div{
    position: relative;
    display: inline-block;
    width: 26%;
    height: 95%;
    margin: 5px;
    border: solid;
    overflow-x: unset;
    overflow-y: scroll;
}
.idler_item_unit{
    display: inline-block;
    position: relative;
    margin:1.5%;
    height: 120px;
    width: 77px;
}
.idler_item_img_unit{
    width: 75px;
    height: 120px;
    border: solid; 
}
.idler_item{
    flex:1;
    margin:1%;
    width: 95%;
    height: 85px;
    border: solid; 
    border-radius:5px;
}
.idler_item_map_img{
    height: 100%;
    width: 120px;
}
.idler_map_button{
    background-color: black;
    font-weight: bold;
    color:white;
    border-radius: 4px;
    float: right; 
}
.idler_dialog{
    background:rgba(188, 186, 182,0.95);
    border-radius: 5px;
    position:absolute;
    left:10%;
    top:20%;
    width: 20%;
    height: 40%;
}
.idler_selected_img{
    border-style: groove;
    border-color: white;
}
/*PLAYER*/
.player_right_panel{
    width: 40%;
    display:flex;
    flex-direction: column-reverse;
    background:rgba(158, 156, 152,0.7);
    font-size:150%;
    overflow: scroll;
}
.player_left_panel{
    width: 59%;
    background:rgba(158, 156, 152,0.7);
}
.player_left_text{
    font-size: 150%;
    margin:5%;
}
/*  BOARD  */
.board{
    background:rgba(158, 156, 152,0.3);
}
.board_panel{
    width:90%;
    background:rgba(158, 156, 152,0.80);
    margin:0.5em;
    margin-left:1.5em;
    height:35%;
    border:solid;
    border-radius:10px;
    border-color:black;
}
.board_top{
    position:relative; 
    height:40%;
}
.board_bot{
    position:relative; 
    top:90;
    height:40%;
}
.board_top_right{
    font-size:145%; 
}
.board_bot_right{
    position:relative; 
    top:10;
}
.board_button{
    background:rgba(158, 156, 152,0.95);
    font-size:200%;
    border:solid;
    border-radius:5px;
    padding:5px;
    margin-left:1.5em;
    margin-top:0.7em;
    text-align:center;
}
.board_right_panel{
    overflow-wrap: break-word;
    margin-bottom:3em;
    background:rgba(158, 156, 152,0.95);
    font-size:125%;
    padding:5px;
}
.slotimage{
    width:100%;
    height:100%;
}
.slot{
    position:relative;
    top:2%;
    width:19%;
    height:75%;
    margin:1.0em;
    border:solid;
    border-color:black;
    border-radius:10px;
    background:rgba(158, 156, 152,0.95);
    float:left;
}
.slot_panel_bot_right, .slot_panel_bot_right.slot_panel{
    height:40%;    
}
.card_div{
    /*background-size: 100% auto;*/
    background-repeat: no-repeat;
    background-size: 100%;
    /*background-position: center;*/
    border-radius:10px;
    width:100%;
    height:100%;
    float:left;
}
.overlay_animation{
    background:rgba(150, 150, 15,0.10);
    width:100%;
    height:100%;
    position:absolute;
    z-index: -1;
}
.overlay_spells{
    /*visibility: hidden;*/
    text-align: center;
    border-radius: 5px;
    background:rgba(50, 50, 50, 0.90);
    font-weight: 700;
    letter-spacing: .15rem;
    color:white;
    font-size: 115%;
    position:absolute;
    width: 100%;
    bottom:0;
    border-radius:2px;
}
.overlay{
    background:rgba(150, 150, 150,0.80);
    font-weight:700;
    font-size: 110%;
    position:absolute;
    border-radius:2px;
}
.dead{
    background-color:red;
    opacity:0.5;
}
.spell_dialog{
    background:rgba(188, 186, 182,0.95);
    border-radius: 5px;
    position:absolute;
    left:100%;
    /*bottom:90%;*/
    width: 300;
    height: 175;
    z-index:2;
}
/*TOWN*/
.town_right{
    background:rgba(158, 156, 152,0.95);
    overflow-y:scroll; 
    overflow-x:hidden;
}
.town_div_right{
    display:block;
    padding:2%;
    width:90%;
    height:20%;
}
.town_image{
    border:solid;
    border-style:groove;
    border-color: black;
    display:block;
    float:left;
    margin-right:15px;
    width:125;
    height:75;
}
.town_name{
    font-size:150%;
}
.town_div_left{
    display:flex;
    border: solid;
    border-radius: 4px;
    width:90%;
    height:35%;
    margin:2%;
}
.town_struct_img{
    border:solid;
    border-radius:4px;
    margin:10px;
    width:350;
    height:200;
}
.town_struct_info{
    margin-left: 2%;
    font-size:125%;
}
/* MANAGEMENT/MAPS */
.management_top{
    height:49%;
    padding:5%;
    border-bottom:solid;
    font-size:150%;
}
.unit_info_div{
    margin:2%;
    border-radius: 4px;
    border: solid;
    display:flex;
    height: 40%;
    width: 90%;
    padding:3%;
}
.unit_info{
    border: solid;
    border-radius: 2px;
    width: 60%;
    height: 80%;
    font-size:125%;
    padding-left:2%;
    padding-top:2%;
    margin:2%;
    display :inline-block;
    overflow-y: scroll;
}
.unit_info_img{
    border-style:ridge;
    border-color: black;
    border-width: 8px;
    border-radius: 6px;
    margin-top:2%;
    width:150;
    height:225;
}
.player_inventory_img{
    border: solid;
    border-radius: 4px;
    border-color: black;
    border-style: groove;
    margin:2%;
}
.player_inventory_div{
    display :flex;
    justify-content:center;
}
.player_inventory_info{
    font-size:125%;
    padding-left:2%;
    padding-top:10%;
    margin:2%;
    width:60%;
}
.management_bot{
    height:49%;
    padding:5%;
    font-size:150%
}
.unit_inventory{
    font-size: 150%;
    text-align: center;
    float:left;
    flex:2;
    padding:1%;
}
.player_inventory{
    height:100%;
    flex:1;
    border-right:solid;
    overflow-y:scroll;
    overflow-x:hidden;
}
.unit_left{
    width:35%;
    height:100%;
    border:solid;
    border-radius:5px;
    float:left;
    overflow-y:scroll;
    overflow-x:hidden;
}
.unit_right{
    display:flex;
    width:64%;
    height:100%;
    border:solid;
    border-radius:5px;
    border-color:black;
    float:left;
}
.slot_panel{
    position:relative;
    width:16%;
    height:50%;
    margin:0.8em;
    border:solid;
    border-radius:10px;
    border-color:black;
    background:rgba(158, 156, 152,0.8);
    float:left;
}
.bg_panel{
    background:rgba(158, 156, 152,0.9);
    overflow-y:scroll;
}
.map_panel{
    background:rgba(158, 156, 152,0.5);
}
.maps_div{
    background:rgba(158, 156, 152,0.5);
    border:solid;
    border-radius:4px;
    position:relative;
    left:2%;
    width:95%;
    height:30%;
    margin-top: 3px;
    margin-bottom: 3px;
}
.map_panel_text{
    position:absolute;
    width:42%;
    height:90%;
    left:55%;
    top:5%;
    font-size: 140%;
}
.maps_img{
    border:solid;
    border-radius: 4px;
    position:absolute;
    width:50%;
    height:90%;
    margin:10px;
}
/*need to center the text*/
.maps_overlay{
    background:rgba(188, 186, 182,0.8);
    position:absolute;
    width:max-content;
    top:35%;
    height:25%;
    margin: 5%;
    padding: 3;
    font-size:200%;
    color:black;
    border-radius:5px;
}
.info_slot{
    background:rgba(158, 156, 152,0.7);
    height:40;
    width:75;
    position:relative;
    border:solid;
    border-radius:5px;
}
.item_slot{
    height:140;
    width:110;
    background:rgba(158, 156, 152,0.7);
    position:relative;
    border-radius:5px;
}
.quest_panel{
    height: 80%;
    background:rgba(158, 156, 152,0.9);
    position:relative;
    left:5%;
    padding:5%;
    font-size:175%;
    width:45%;
    overflow-y:scroll;
}
.quest_text{
    cursor: pointer;    
}
.inventory_image{
    border:solid;
    border-radius:5px;
    height:140;
    width:110;
    position:relative;
}
.inventory_slot{
    border:solid;
    border-radius:5px;
    height:100;
    width:100;
    position:relative;
}
.tab_button{
    font-size:120%;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border:none;
    margin-right:3px;
}
.button_style{
     background:rgba(158, 156, 152,0.5);   
     font-size: 125%;
     border: solid;
     border-radius: 4px;
     margin:1%;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background:rgba(105, 105, 105,0.7);   
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:rgba(90, 90, 90,0.9);   
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:rgba(158, 156, 152,0.8);   
}
.unit_right_man{
    width:80;
    height:130;
    margin:2px;
}

/*CREATION*/
.unit_creation_input{
    margin:2%;
    font-size: 150%;
    padding: 2%;
    height: 15%;
    display: block;
}
.unit_creation_input_select{
    font-size: 100%;
}
.unit_creation_text{
    border:solid;
    float:left;
    width:60%;
    height:80%;
    margin:4%;
    padding:10;
}
.unit_creation_img{
    float:left;
    width:20%;
    height:50%;
    margin:4%;
}
.creation_img_panel{
    background:rgba(158, 156, 152,0.95);
    display :inline-block;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px;
    overflow-y:scroll;
    height:100%;
    width:10%;
    margin-left:5%
}
.creation_img_div{
    margin : "5%";
}
.creation_img{
    border: solid;
    border-radius: 4px;
    margin:6px;
    width: 110; 
    height: 165; 
}
.creation_img_right{
    border: solid;
    border-radius: 4px;
    width: 200; 
    height: 300; 
}
.creation_text_area{
    resize: none;
    outline: none;
    text-wrap:off;
    overflow:hidden;
    font-size:100%;
    height: 40%;
    border: none;
    text-align: left;
    border-bottom: solid;
    background: inherit;
}
.creation_right_panel{
    background:rgba(158, 156, 152,0.95);
    border-top-right-radius: 10px ;
    border-bottom-right-radius: 10px;
    display :inline-block;
    height:100%;
    width:80%;
}
.creation_player_panel{
    float:left;
    border:solid;
    width:60%;
    height:80%;
    margin:4%;
}

/*ANIMATION*/
.animation_attack_opp{
  animation-name: attack_opp;
  animation-duration: 800ms;
}
@keyframes attack_opp {
    0%{
        position: absolute;
        bottom:0%;
        width: 100%;
        height: 100%;
    }
    50% {
        position: absolute;
        top:20%;
        right:10%;
        width: 105%;
        height: 105%;
    }
    100%{
        position: absolute;
        bottom:0%;
        width: 100%;
        height: 100%;
    }
}
.animation_attack{
  animation-name: attack;
  animation-duration: 1s;
}
@keyframes attack {
    0%{
        position: absolute;
        bottom:0%;
        width: 100%;
        height: 100%;
    }
    50% {
        position: absolute;
        bottom:20%;
        right:10%;
        width: 105%;
        height: 105%;
    }
    100%{
        position: absolute;
        bottom:0%;
        width: 100%;
        height: 100%;
    }
}

/*ANIMATION SPELLS*/
.animation_heal{
  animation-name: heal;
  animation-duration: 800ms;
}
.animation_thunder{
  animation-name: thunder;
  animation-duration: 800ms;
}
.animation_burn{
  animation-name: burn;
  animation-duration: 800ms;
}
.animation_cleave{
  animation-name: cleave;
  animation-duration: 800ms;
}

@keyframes burn {
  from {
      position:absolute;
      z-index: 4;
      background:rgba(252, 49, 3,0.3);
  }
  to {
      background:rgba(252, 186, 3,0.3);
  }
}
@keyframes heal {
  from {background-color: blue;}
  to {background-color: white;}
}
@keyframes thunder {
   0%{
      background-color: white;
  }
  35% {
      background-image: url("images/bg/thunder_to.png");
      background-size: cover;
  }
  70% {
      background-color: white;
  }
}
@keyframes cleave {
    from{
        position:absolute;
        z-index: 4;
        background-color: red;
    }
    to {
        background-color: black;
    }
}
